<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NodeChat - Rooms</title>
	<link rel="stylesheet" href="/css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	'use strict';
	$(() => {
		// this initiates the socket connection between server and client
		// roomsList is not a route, this is a socket namespace
		// its a pipe carrying all the socket
		// it has multiple unique pipelines
		// Sets the local host to the host provided in the res variable
		let socket = io('<%= host %>' + '/roomslist',{
			transports: ['websocket']
		})
		// Create a jquery input field
		let newRoomInput = $("input[name='roomName']");

		let renderChatRooms = chatrooms => {
			let roomsListDiv = $('#roomsListUL');
			let listStr = '';
			for(let chat of chatrooms){
				listStr += `<a href="/chat/${chat.roomID}"><li>${chat.room}</li></a>`
			}
			// Clears out roomsListDiv variable and pushing the listStr variable in 
			roomsListDiv.html('').append(listStr);
		}
		// Get a list of chatrooms using socket.emit
		// Dispatches an event called getChatRooms which signals our server to trigger the event
		socket.emit('getChatRooms');
		// Set an event listener for chatRoomsList which is coming from the server
		socket.on('chatRoomsList', chatrooms => {
			console.log(chatrooms);
			// Generates the chatrooms
			renderChatRooms(JSON.parse(chatrooms));
		}) 
		// Create a jquery button
		$('#createBtn').on('click', () => {
			// If newRoomInput is not blank, then emit a createNewRoom event to server with the newRoomInput
			if(newRoomInput.val() !== ''){
				socket.emit('createNewRoom',newRoomInput.val());
				// Clear out the input field
				newRoomInput.val('');
			}
		})
	})
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>NodeChat| Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"></p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			</ul>
		</div>
	</div>
</body>
</html>